*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/caches/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase & Secrets
Scan Listener/serviceAccountKey.json
app/google-services.json
.artifacts/
config.json
config_v4.json

# Python Build
Scan Listener/dist/
Scan Listener/build/
Scan Listener/*.spec
